body {
    font-family: sans-serif;
    font-size: 0.9em;
}

div {
    padding: 5px;
}

label {
    display: block;
}

/*svg {
    width: 90%;
    height: 90vh;
}*/

#preview:empty {
    display: none;
}