/*body {*/
/*    font-family: sans-serif;*/
/*    font-size: 0.9em;*/
/*}*/

/*div {*/
/*    padding: 5px;*/
/*}*/

/*label {*/
/*    display: block;*/
/*}*/

#file {
    height: 20vh;
    padding: 1.3rem;
}

#fileBorder {
    border: 4px dashed var(--border);
    height: 100%;
    margin: 0;
    border-radius: var(--standard-border-radius);
    position: relative;
}

/*svg {
    width: 90%;
    height: 90vh;
}*/

.center {
    display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#previewdiv {
    display: none;
}

#div-pagina {
    padding-bottom: 1.2rem;
}

#pagina {
    font-weight: bold;
}

.minibtn {
    padding: .2rem .45rem !important;
    margin-left: .3rem;
    margin-right: .3rem;
}